[Unit]
Description=udiskie daemon

[Service]
Type=simple
ExecStart=/usr/bin/udiskie --verbose --no-password-prompt --no-notify --no-tray --no-appindicator --no-notify-command --no-file-manager --no-terminal
Restart=always

[Install]
WantedBy=default.target
