[Unit]
Description=XBindKeys key grabber
After=environment.target

[Service]
ExecStart=/usr/bin/xbindkeys
KillMode=process

[Install]
WantedBy=default.target
