!~/.Xresources
! no inline comments!

!        | |
!   _` | | |
!  (   | | |
! \__,_|_|_|
!

!*.background: rgb:10/10/10

!   _|             |
!  |    _ \  __ \  __|  __|
!  __| (   | |   | |  \__ \
! _|  \___/ _|  _|\__|____/
!

! applications without fontconfig support:
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


!                          |
!  |   |  __|\ \  /\ \   / __|
!  |   | |    `  <  \ \ /  |
! \__,_|_|    _/\_\  \_/  \__|
!

! URxvt (case sensitive?)
! ttps://wiki.archlinux.org/index.php/Rxvt-unicode

URxvt.*termName: rxvt-unicode-256color
URxvt.*loginshell: true
URxvt.*saveLines: 10000
URxvt.*pointerblank: true
URxvt.*letterSpace: 0
URxvt.*font: xft:BitstromWera Nerd Font Mono:size=12:antialias=true,\
            xft: Bitstream Vera Sans Mono:size=12
URxvt.*boldFont: xft:BitstromWera Nerd Font Mono:size=12:antialias=true:style=Bold,\
                xft: Bitstream Vera Sans Mono:size=12:antialias=true:style=Bold
URxvt.*intensityStyles: false
URxvt.*secondaryScreen: true

! SCROLLING
! do not scroll with output:
URxvt.*scrollTtyOutput: false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up):
URxvt.*scrollWithBuffer: true
! scroll back to the bottom on keypress:
URxvt.*scrollTtyKeypress: true
URxvt.*secondaryScroll: false
URxvt.*secondaryWheel: true
!URxvt.*scrollStyle:rxvt
URxvt.*scrollBar: true
URxvt.*scrollBar_right: true
URxvt.*scrollBar_floating: true
URxvt.*scrollstyle: plain
URxvt.*scrollBar_align: centre
URxvt.*jumpScroll: true
URxvt.*mouseWheelScrollPage: true

! scroll up/down 10 lines
URxvt.*keysym.Shift-Up: command:\033]720;10\007
URxvt.*keysym.Shift-Down: command:\033]721;10\007
! scroll up/down 100 lines
URxvt.*keysym.Control-Up: command:\033]720;100\007
URxvt.*keysym.Control-Down: command:\033]721;100\007
! scroll up/down all the way (10000 lines)
URxvt.*keysym.Control-Shift-Up: command:\033]720;10000\007
URxvt.*keysym.Control-Shift-Down: command:\033]721;10000\007

! page up/page down/home/end conflicts with pager (less)!
! URxvt.*keysym.Prior: command:\033]720;100\007
! URxvt.*keysym.Next: command:\033]721;100\007
! URxvt.*keysym.Home: command:\033]720;10000\007
! URxvt.*keysym.End: command:\033]721;10000\007

! PERL EXT
! if you do not use the perl extension features, you can improve the
! security and speed by disabling perl extensions completely.
!URxvt.*perl-ext:
! minus disables the stupid paste bracketing (messes up code):
!URxvt.*perl-ext-common:      default,-confirm-paste
URxvt.perl-ext-common:       resize-font,keyboard-select,searchable-scrollback
URxvt.*url-select.launcher:  firefox
URxvt.*url-select.underline: true
URxvt.*underlineURLs:        true
URxvt.*urlButton:            M-1
!URxvt.*keysym.M-u:           perl:url-select:select_next
URxvt.*keysym.M-Escape:      perl:keyboard-select:activate
!URxvt.*keysym.M-s:           perl:keyboard-select:search
URxvt.keysym.M-s: searchable-scrollback:start
!URxvt.*copyCommand: xclip -i -selection clipboard
!URxvt.*pasteCommand: xclip -o -selection clipboard
!URxvt.*keysym.M-w: perl:clipboard:copy
!URxvt.*keysym.C-y: perl:clipboard:paste
!URxvt.*keysym.M-C-v: perl:clipboard:paste_escaped
!URxvt.*keysym.M-Escape: perl:keyboard-select:activate
URxvt.*keysym.M-minus:     resize-font:smaller
URxvt.*keysym.M-plus:      resize-font:bigger
URxvt.*keysym.M-equal:     resize-font:reset
!URxvt.*keysym.M-question:  resize-font:show

! GRAPHICS:
URxvt.*skipBuiltinGlyphs: true
URxvt.*iconFile: /usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
! borderless conflicts with something! awesome?
!URxvt.*borderLess: true
URxvt.*cursorBlink: false
URxvt.*buffered: true

!The 2023-01-02 update may require adding some lines into ~/.Xresources:
URxvt.*geometry: 400x400


!        |
! \ \  / __|  _ \  __| __ `__ \
!  `  <  |    __/ |    |   |   |
!  _/\_\\__|\___|_|   _|  _|  _|
!

xterm*termName: xterm-256color
xterm*locale: false
xterm*utf8: true
xterm*metaSendsEscape: true
xterm*backarrowKey: false
xterm*ttyModes: erase ^?
xterm*saveLines: 16384
xterm*scrollBar: true
xterm*rightScrollBar: true
xterm*scrollbar.width: 8
!xterm*geometry: 80x32
xterm*visualbell: false
xterm*bellIsUrgent: false

! tmux needs that for clipboard
xterm*disallowedWindowOps: 20,21,SetXprop
! xterm*selectToClipboard: true
! xterm*VT100*translations: #override \n\
!     Shift Ctrl <Key> V: insert-selection(CLIPBOARD) \n\
!     Shift Ctrl <Key> C: select-end(CLIPBOARD)

! font size hot key:
xterm*translations: #override \n\
  Alt <Key> minus: smaller-vt-font() \n\
  Alt <Key> plus: larger-vt-font() \n\
  Alt <Key> 0: set-vt-font(d)
xterm*faceName: xft:BitstromWera Nerd Font Mono:style=Regular:size=12:antialias=true
xterm*boldFont: xft:BitstromWera Nerd Font Mono:style=Regular:size=12:antialias=true:style=Bold

! open a new terminal to search scrollback buffer:
!xterm*printerCommand: xterm -T History -e sh -c 'less -r <&3' 3<&0
!xterm*translations: #override Ctrl <Key>slash: print-everything()
