!!~/.Xresources
!! no inline comments!

!        | |
!   _` | | |
!  (   | | |
! \__,_|_|_|
!

!*.background: rgb:10/10/10

!   _|             |       
!  |    _ \  __ \  __|  __|
!  __| (   | |   | |  \__ \
! _|  \___/ _|  _|\__|____/
!

!! applications without fontconfig support:
Xft.antialias: 1
Xft.autohint: 0
Xft.hinting: 1
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault
Xft.rgba: rgb


!                          |  
!  |   |  __|\ \  /\ \   / __|
!  |   | |    `  <  \ \ /  |  
! \__,_|_|    _/\_\  \_/  \__|
!

!! URxvt (case sensitive?)
!! ttps://wiki.archlinux.org/index.php/Rxvt-unicode

URxvt*loginshell: true 
URxvt*saveLines: 10000
URxvt*pointerblank: true
URxvt*letterSpace: 0
URxvt*font: xft: BitstromWera Nerd Font:style=Regular:size=12
URxvt*boldFont: xft: BitstromWera Nerd Font:style=Bold:size=12
!URxvt*font: xft:DejaVuSansMono Nerd Font:size=12:antialias=true,\
!            xft: Bitstream Vera Sans Mono:size=12
!URxvt*boldFont: xft:DejaVuSansMono Nerd Font:size=12:antialias=true:style=Bold,\
!                xft: Bitstream Vera Sans Mono:size=12:style=Bold
URxvt.intensityStyles: false
URxvt*secondaryScreen: true

!! SCROLLING
! do not scroll with output:
URxvt*scrollTtyOutput: false
!! scroll in relation to buffer (with mouse scroll or Shift+Page Up):
URxvt*scrollWithBuffer: true
!! scroll back to the bottom on keypress:
URxvt*scrollTtyKeypress: true
URxvt*secondaryScroll: false
URxvt*secondaryWheel: true
!URxvt*scrollStyle:rxvt
URxvt*scrollBar: true
URxvt*scrollBar_right: true
URxvt*scrollBar_floating: true
URxvt*scrollColor: darkgrey
URxvt*scrollstyle: plain
URxvt*scrollBar_align: centre
URxvt*jumpScroll: true
URxvt*mouseWheelScrollPage: true

!! scroll up/down 10 lines
URxvt*keysym.Shift-Up: command:\033]720;10\007
URxvt*keysym.Shift-Down: command:\033]721;10\007
!! scroll up/down 100 lines
URxvt*keysym.Control-Up: command:\033]720;100\007
URxvt*keysym.Control-Down: command:\033]721;100\007
!! scroll up/down all the way (10000 lines)
URxvt*keysym.Control-Shift-Up: command:\033]720;10000\007
URxvt*keysym.Control-Shift-Down: command:\033]721;10000\007

!! page up/page down/home/end conflicts with pager (less)!
! URxvt*keysym.Prior: command:\033]720;100\007
! URxvt*keysym.Next: command:\033]721;100\007
! URxvt*keysym.Home: command:\033]720;10000\007
! URxvt*keysym.End: command:\033]721;10000\007

!! if you do not use the perl extension features, you can improve the
!! security and speed by disabling perl extensions completely.
!URxvt*perl-ext:
URxvt*perl-ext-common:resize-font

!! GRAPHICS:
URxvt*skipBuiltinGlyphs: true
URxvt*iconFile: /usr/share/icons/Adwaita/scalable/apps/utilities-terminal-symbolic.svg
! borderless conflicts with something! awesome?
!URxvt*borderLess: true
URxvt*cursorBlink: false

!!The 2023-01-02 update may require adding some lines into ~/.Xresources:
URxvt*geometry: 400x400

!! fake transparency:
!! fade the text by the given percentage when focus is lost:
! URxvt*fading: 30
URxvt*transparent: true
!! shading; 0 to 99 darkens, 101 to 200 lightens:
URxvt*shading: 20
URxvt*buffered: true

!! real transparency:
! URxvt*depth: 32
! URxvt*background: [80]#000000
! URxvt*background: rgba:0000/0000/0000/c900

URxvt*foreground: Linen
URxvt*background: Black
! URxvt*underlineColor:
! URxvt*scrollColor:
! URxvt*troughColor:
! URxvt*highlightColor:
! URxvt*highlightTextColor:
URxvt*cursorColor: magenta
URxvt*cursorColor2: magenta
URxvt*pointerColor: magenta
URxvt*pointerColor2: magenta
! URxvt*color0:  #282a2b

!             |               
!   __|  _ \  |  _ \   __| __|
!  (    (   | | (   | |  \__ \
! \___|\___/ _|\___/ _|  ____/

!! type 'rainbow' for quick demo

! # foreground: background
! 0: 30, black
! 1: 31, red
! 2: 32, green
! 3: 33, yellow
! 4: 34, blue
! 5: 35, magenta
! 6: 36, cyan
! 7: 37, white
! # bold foreground: background
! 8: 40, black
! 9: 41, red
! 10: 42, green
! 11: 43, yellow
! 12: 44, blue
! 13: 45, magenta
! 14: 46, cyan
! 15: 47, white
! 16: 48, default

*color0: Black
*color1: DarkRed
*color2: SeaGreen
*color3: GoldenRod
*color4: SteelBlue
*color5: DarkMagenta
*color6: LightSeaGreen
*color7: BlanchedAlmond
*color8: DimGrey
*color9: Crimson
*color10: DarkSeaGreen
*color11: DarkOrange
*color12: DeepSkyBlue
*color13: Magenta
*color14: DarkTurquoise
*color15: Seashell
*color16: BlanchedAlmond

!        |                    
! \ \  / __|  _ \  __| __ `__ \
!  `  <  |    __/ |    |   |   |
!  _/\_\\__|\___|_|   _|  _|  _|
!

!!*.termName: xterm-256color
xterm*locale: false
xterm*utf8: true
xterm*metaSendsEscape: true
xterm*backarrowKey: false
xterm*ttyModes: erase ^?
xterm*saveLines: 4096
xterm*scrollBar: false
xterm*scrollbar.width: 8
xterm*geometry: 80x32
xterm*faceName: xft:DejaVuSansMono Nerd Font:size=12:antialias=true,\
            xft: Bitstream Vera Sans Mono:size=12
xterm*boldFont: xft:DejaVuSansMono Nerd Font:size=12:antialias=true:style=Bold,\
                xft: Bitstream Vera Sans Mono:size=12:style=Bold
!xterm*faceName: xft:DejaVuSansMono Nerd Font:size=12:antialias=true
!xterm*boldFont: xft:DejaVuSansMono Nerd Font:size=12:antialias=true:style=Bold
xterm*transparent: true
xterm*foreground: Linen
xterm*background: Black
xterm*cursorColor: Magenta
xterm*cursorColor2: Magenta
! xterm*color0:  rgb:28/2a/2b
xterm*veryBoldColors: 6
! xterm*colorBDMode: true
! xterm*colorBD: Red
! xterm*colorULMode: true
! xterm*colorUL: Cyan

xterm*color0: Black
xterm*color1: DarkRed
xterm*color2: SeaGreen
xterm*color3: GoldenRod
xterm*color4: SteelBlue
xterm*color5: DarkMagenta
xterm*color6: LightSeaGreen
xterm*color7: BlanchedAlmond
xterm*color8: DimGrey
xterm*color9: Crimson
xterm*color10: DarkSeaGreen
xterm*color11: DarkOrange
xterm*color12: DeepSkyBlue
xterm*color13: Magenta
xterm*color14: DarkTurquoise
xterm*color15: Seashell
xterm*color16: BlanchedAlmond

!           _)          
!  __ `__ \  |  __|  __|
!  |   |   | |\__ \ (   
! _|  _|  _|_|____/\___|
!

!! for otave via emacs 
gnuplot*background: transparent truecolor