# A TOML linter such as https://taplo.tamasfe.dev/ can use this schema to validate your config.
# If you encounter any issues, please make an issue at https://github.com/yazi-rs/schemas.
"$schema" = "https://yazi-rs.github.io/schemas/yazi.json"


[mgr]
ratio          = [ 1, 2, 3 ]
sort_by        = "natural"
sort_sensitive = false
sort_reverse   = false
sort_dir_first = true
sort_translit  = false
linemode       = "none"
show_hidden    = false
show_symlink   = true
scrolloff      = 5
mouse_events   = [ "click", "scroll" ]
title_format   = "îŠŽ  Yazi: {cwd} "


[preview]
wrap            = "no"
tab_size        = 2
max_width       = 600
max_height      = 900
cache_dir       = ""
image_delay     = 0
image_filter    = "nearest"
image_quality   = 75
#sixel_fraction  = 15
ueberzug_scale  = 1
ueberzug_offset = [ 0, 0, 0, 0 ]

# Todo: write hexyl previewer for binary: fun!

[opener]
edit = [
{ run = "emacs %s1", orphan = true, block = false },
{ run = "${EDITOR:-vi} %s", block = true },
]
play = [
{ run = "mpv --force-window -- %s", orphan = true },
{ run = "vlc -- %s", orphan = true },
{ run = "mediainfo %s | less -R", block = true },
{ run = "xdg-open %s" },
]
open = [ { run = "xdg-open %s"  }, ]
extract = [	{ run = "ya pub extract --list %s" }, ]
download = [
	{ run = "ya emit download --open %S" },
	{ run = "ya emit download %S" },
]
web = [
{ run = "firefox -- %s1", orphan = true },
{ run = "lynx -- %s1", block = true },
]
black = [ { run = "black -- %s1", orphan = true }, ]
python = [ { run = "python -- %s1", block = true }, ]
octave = [
{ run = "octave --gui --persist --eval edit %s1", orphan = true },
{ run = "octave --force-gui --persist %s1", orphan = true },
{ run = "octave -- %s1", block = true },
]
fortran = [ { run = "time gfortran -Og -Wall -fimplicit-none -ftree-parallelize-loops=2048 -fopt-info -fcheck=all -fbacktrace %s1", block = true }, ]
gnuplot = [ { run = "gnuplot %s1", orphan = true }, ]
pandoc = [ { run = "pandoc -o %s1.pdf %s1", orphan = true }, ]
jupyter = [
{ run = "jupyter-lab %s1", orphan = true },
{ run = "jupyter nbconvert --to markdown %s1", orphan = true },
]
gimp = [ { run = "gimp -- %s1", orphan = true }, ]
make = [ { run = "make -j 16 -f %s1", block = true }, ]
nsys = [ { run = "nsys-ui %s1", orphan = true }, ]
view = [ { run = "feh --auto-zoom --scale-down --start-at %s1", orphan = true }, ]
hexyl = [ { run = "hexyl -- %s1 | less -R", block = true }, ]
exec = [ { run = "%s1", block = true }, ]
#spotter can do that better, shows the current mime fetcher (ext or file).
mime = [
{ run = "file -b --mime-type %s1 | less -R", block = true },
# { run = "xdg-mime query filetype %s1 | less -R', block = true },
]


[open]
rules = [
# Dir uses edit because of smart enter
{ url = "*/", use = [ "edit" ] },
{ mime = "text/*", use = [ "edit" ] },
{ mime = "image/*", use = [ "view", "gimp" ] },
{ mime = "{audio,video}/*", use = [ "play" ] },
{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", use = "extract" },
{ mime = "application/{json,ndjson}", use = "edit" },
{ mime = "*/javascript", use = "edit" },
{ mime = "inode/empty", use = "edit" },
{ url = "*.py", use = [ "python", "black" ] },
{ url = "*.m", use = "octave" },
{ url = "*.f??", use = "fortran" },
{ url = "*.gp", use = "gnuplot" },
{ url = "*.{md,org}", use = "pandoc" },
{ url = "*.ipynb", use = "jupyter" },
{ url = "*.nsys-rep", use = "nsys" },
{ url = "*{m,M}akefile", use = "make" },
{ mime = "application/pie-executable", use = "hexyl" },
{ mime = "vfs/{absent,stale}", use = "download" },
{ url = "*", use = [ "open", "exec", "edit", "mime" ] },
]


[tasks]
micro_workers    = 10
macro_workers    = 10
bizarre_retry    = 3
image_alloc      = 536870912  # 512MB
image_bound      = [ 10000, 10000 ]
suppress_preload = false


[plugin]
fetchers = [
# git needs nightly:
{ id = "git", url = "*", run  = "git"},
{ id = "git", url = "*/", run  = "git"},
# Mimetype
{ id = "mime", url = "*/",         run = "mime.dir", prio = "high" },
{ id = "mime", url = "local://*",  run = "mime.local", prio = "high" },
{ id = "mime", url = "remote://*", run = "mime.remote", prio = "high" },
# Needs additions in "init.lua', cannot deal with "-' in file ext like "nsys-rep'!
#{ id = "mime", url = "*", run  = "mime-ext", if = "!mime", prio = "high"},
]
spotters = [
	{ url = "*/", run = "folder" },
	# Code
	{ mime = "text/*", run = "code" },
	{ mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# Virtual file system
	{ mime = "vfs/*", run = "vfs" },
	# Error
	{ mime = "null/*", run = "null" },
	# Fallback
	{ url = "*", run = "file" },
]
preloaders = [
	# Image
	{ mime = "image/{avif,hei?,jxl}", run = "magick" },
	{ mime = "image/svg+xml", run = "svg" },
	{ mime = "image/*", run = "image" },
	# Video
	{ mime = "video/*", run = "video" },
	# PDF
	{ mime = "application/pdf", run = "pdf" },
	# Font
	{ mime = "font/*", run = "font" },
	{ mime = "application/ms-opentype", run = "font" },
]
previewers = [
# Dir
#{ url = "*/", run = "folder", sync = true },
{ url = "*/", run = "folder" },
# Ext
#{ url = "*.ipynb", run = "nbpreview" },
# { url = "*.csv", run = "rich-preview"}, # for csv files
# { url = "*.md", run = "rich-preview" }, # for markdown (.md) files
# { url = "*.rst", run = "rich-preview"}, # for restructured text (.rst) files
# { url = "*.ipynb", run = "rich-preview"}, # for jupyter notebooks (.ipynb)
# { url = "*.json", run = "rich-preview"}, # for json (.json) files
# Mime
#{ mime = "text/csv", run = "miller"},
# Code
{ mime = "text/*", run = "code" },
{ mime = "application/{mbox,javascript,wine-extension-ini}", run = "code" },
# JSON
{ mime = "application/{json,ndjson}", run = "json" },
# Image
{ mime = "image/{avif,hei?,jxl}", run = "magick" },
{ mime = "image/svg+xml", run = "svg" },
{ mime = "image/*", run = "image" },
# Video
{ mime = "video/*", run = "video" },
# PDF
{ mime = "application/pdf", run = "pdf" },
# Archive
#{ mime = "application/{zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*}", run = "archive" },
{ mime = "application/{debian*-package,redhat-package-manager,rpm,android.package-archive}", run = "archive" },
{ url = "*.{AppImage,appimage}", run = "archive" },
{ mime = "application/{*zip,rar,7z*,tar,gzip,xz,zstd,bzip*,lzma,compress,archive,cpio,arj,xar,ms-cab*,iso9660-image,java-archive,vnd.rar}", run = "ouch" },
# Virtual Disk / Disk Image
{ mime = "application/{iso9660-image,qemu-disk,ms-wim,apple-diskimage}", run = "archive" },
{ mime = "application/virtualbox-{vhd,vhdx}", run = "archive" },
{ url = "*.{img,fat,ext,ext2,ext3,ext4,squashfs,ntfs,hfs,hfsx}", run = "archive" },
# Font
{ mime = "font/*", run = "font" },
{ mime = "application/ms-opentype", run = "font" },
# Empty file
{ mime = "inode/empty", run = "empty" },
# Virtual file system
{ mime = "vfs/*", run = "vfs" },
# Error
{ mime = "null/*", run = "null" },
# Fallback
{ url = "*", run = "file" },
]

[input]
cursor_blink = false

# cd
cd_title  = "Change directory:"
cd_origin = "center"
cd_offset = [ 0, 0, 50, 3 ]

# create
create_title  = [ "Create:", "Create (dir):" ]
create_origin = "center"
create_offset = [ 0, 0, 50, 3 ]

# rename
rename_title  = "Rename:"
rename_origin = "hovered"
rename_offset = [ 0, 1, 50, 3 ]

# filter
filter_title  = "Filter:"
filter_origin = "bottom-left"
filter_offset = [ 0, -1, 50, 3 ]

# find
find_title  = [ "Find next:", "Find previous:" ]
find_origin = "bottom-left"
find_offset = [ 0, -1, 50, 3 ]

# search
search_title  = "Search via {n}:"
search_origin = "bottom-left"
search_offset = [ 0, -1, 50, 3 ]

# shell
shell_title  = [ "Shell:", "Shell (block):" ]
shell_origin = "bottom-left"
shell_offset = [ 0, -1, 50, 3 ]

[confirm]
# trash
trash_title     = "Trash {n} selected file{s}?"
trash_origin    = "center"
trash_offset    = [ 0, 0, 80, 30 ]

# delete
delete_title    = "Permanently delete {n} selected file{s}?"
delete_origin   = "center"
delete_offset   = [ 0, 0, 80, 30 ]

# overwrite
overwrite_title   = "Overwrite file?"
overwrite_body = "will overwrite the following file:"
overwrite_origin  = "center"
overwrite_offset  = [ 0, 0, 80, 30 ]

# quit
quit_title   = "Quit?"
quit_body = "the following task is still running, are you sure you want to quit?"
quit_origin  = "center"
quit_offset  = [ 0, 0, 80, 30 ]

[pick]
open_title  = "Open with:"
open_origin = "hovered"
open_offset = [ 0, 0, 80, 30 ]

[which]
sort_by        = "none"
sort_sensitive = false
sort_reverse   = false
sort_translit  = false

[log]
enabled = false
