# ~/.config/starship.toml

# Get editor completions based on the config schema
"$schema" = 'https://starship.rs/config-schema.json'

# Inserts a blank line between shell prompts
add_newline = true

# A minimal left prompt
format = """$directory$character"""

# move the rest of the prompt to the right
#right_format = """$all"""
right_format = """
$username\
$hostname\
$singularity\
$git_branch\
$git_commit\
$git_state\
$git_metrics\
$git_status\
$docker_context\
$c\
$cmake\
$lua\
$python\
$conda\
$sudo\
$cmd_duration\
$time\
$status\
$container\
"""

# A continuation prompt that displays two filled-in arrows
continuation_prompt = '[...](bold purple) '

[line_break]
disabled = true

# Replace the '❯' symbol in the prompt with '➜'
[character] # The name of the module we are configuring is 'character'
format = '[▶](bold blue) '
#success_symbol = '[▶](bold blue)'
#error_symbol = '[▶](bold purple)'

# Disable the package module, hiding it from the prompt completely
[package]
disabled = true